//*** Variables ***//
// -- color
$header-color: #b66b6b;
$body-color: #f0ecec;
$links-color:#932424;
$links-hover-color:#0b9732;
$btn-primery-color : #410b97;
$btn-seconder-color : #707419;

// -- font
$body-fond:  Helvetica, Arial,sans-serif,'Courier New',monospace;


